[class^="class"] {
  position: absolute;
  width: 80px;
  height: 40px;
}
.class1 {
top: 200px;
left: 190px;
}
.class2 {
  top: 220px;
  left: 230px;
}
.class3 {
  top: 200px;
  left: 242px;
}
.class4 {
  top: 215px;
  left: 350px;
}
.class5 {
  top: 210px;
  left: 370px;
}
.class6 {
  top: 210px;
  left: 370px;
}
.class7 {
  top: 210px;
  left: 370px;
}
.class8 {
  top: 210px;
  left: 370px;
}
.class9 {
  top: 210px;
  left: 370px;
}